@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: rgb(109, 177, 255);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
}

header h1 {
    text-align: center;
    font-size: 3.6rem;
    padding: 30px;
    color: rgb(255, 255, 255);
}

section {
    background-color: #fff;
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 4px 5px 7px rgba(0, 0, 0, 0.295);
}


.calcular {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 10px 20px;
}

.peso, .altura  {
    display: flex;
    flex-direction: column;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    font-size: 1.8rem;
    font-family: 'Montserrat';
    color: #0a4db1;
}

input {
    width: 100%;
    height: 3rem;
    max-width: 500px;
    outline: 0;
    padding: 6px 10px;
    border: 1px solid #1f5eaf;
    border-radius: 10px;
}

input[type="button"] {
    margin: 15px 5px;
    width: 12rem;
    height: 3rem;
    line-height: 1rem;
    font-size: 1.4rem;
    border-radius: 16px;
    background-color: #1f5eaf;
    color: #fff;
}

input#button-limpar {
    background-color: #fc7f19;
    border: 1px solid #fc7f19;
}

div#mostrarIMC {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div#mostrarIMC > h5 {
    font-size: 13px;
    background-color: #1f5eaf;
    color: #fff;
    width: 100%;
    height: 2rem;
    border-radius: 12px;
    text-align: center;
}

/*============ TABELA =============*/

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

table thead {
    font-size: 1.4rem;
    font-weight: bold;
    background-color: #1f5eaf;
    color: #fff;
}

table thead td {
    padding: 10px 20px;
    border-radius: 8px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

table tbody {
    font-size: 1.3rem;
    font-weight: bold;
    color: #707070;
    border-top: 5px solid #fff;
}

table tbody .table-blue {
    color: #1f5eaf;
    font-weight: bold;
}

table tbody tr {
    border-bottom: 1px solid #ccc;
}

table tbody tr.active {
    background-color: #ebfdea;
}

table tbody td {
    padding: 8px 20px;
}

table tbody td.grau {
    text-align: center;
}
    
div#resultadoIMC {
    display: none;
    flex-direction: column;
    margin-top: 20px;
    align-self: flex-start;
    background-color: #1f5eaf;
    padding: 10px 20px;
    color: #fff;
    width: 20rem;
    height: 8rem;
    border-radius: 16px;
}

span {
    font-size: 22px;
    font-weight: bold;
}

strong {
    font-size: 3rem;
    font-weight: bolder;
}
/*==========================*/

footer p {
    font-style: italic;
    text-align: center;
    font-weight: normal;
    font-size: 16px;
    margin-top: 15px;
    color: #fff;
}

