@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(109, 177, 255);
    --primary-color-dark: rgb(20, 126, 247);
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--primary-color);
    line-height: 1.5rem;
    color: #fff;
}

h1 {
    font-size: 4rem; 
    line-height: 5rem;
    text-align: center;
}

p {
    line-height: 30px;
    margin-bottom: 10px;
}

header h1 {
    color: #fff;
    margin: 20px 0;
    font-size: 3.5rem;
    text-align: center;
}

section.container {
    max-width: 500px;
    min-height: 50vh;
    margin: 20px auto;
    padding: 20px 10px;
    background-color: #fff;
    border-radius: 12px;
}

footer p {
    font-style: italic;
    text-align: center;
    font-weight: normal;
    font-size: 1.8rem;
    margin-top: 5px;
    color: #fff;
}